@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");
@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/* CSS reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
span,
strike,
strong,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-style: normal;
  font-variant: normal;
  font-weight: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  line-height: 120%;
}
input,
select {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-variant: normal;
  font-weight: inherit;
  font-size: 100%;
  font-family: inherit;
  line-height: 120%;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  font-family: "Malgun Gothic", "���� ����", "Apple SD Gothic Neo",
    "AppleGothic", "NanumGothic", "��������", "Droid sans",
    "Microsoft NeoGothic";
  -webkit-text-size-adjust: none;
}
li {
  list-style: none;
}
blockquote,
q {
  quotes: '"' '"';
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
address {
  font-style: normal;
}
img{width: 100%;}
input,
select,
button,
img {
  vertical-align: middle;
}
button {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  font: inherit;
  color: inherit;
  cursor: pointer;
}
a {
  font-size: inherit;
  color: inherit;
  text-decoration: none;
}
strong,
em {
  font-size: inherit;
  line-height: inherit;
}


/* common */
html,
body {
  height: 100%;
}
#wrap {
}
.wrappage{min-width: 1200px; margin: 0 auto;}
h2{display: inline-block;}
.container {
  position: relative;
  overflow-x: hidden;
}
.indent {
  display: block;
  position: relative;
  width: 0;
  height: 0;
  font-size: 0;
  text-indent: -10000px;
  line-height: 0;
}
.over_h {
  overflow: hidden;
}
.f_left {
  float: left;
}
.f_right {
  float: right;
}
.f_clear {
  clear: both;
}
.rel {
  position: relative;
}
.abs {
  position: absolute;
}
.w100 {
  width: 100%;
}
.h100 {
  height: 100%;
}
.m_none {
  margin: 0 !important;
}
.m_t05 {
  margin-top: 5px;
}
.m_t10 {
  margin-top: 10px;
}
.m_t20 {
  margin-top: 20px;
}
.m_t30 {
  margin-top: 30px;
}
.m_t40 {
  margin-top: 40px;
}
.m_t50 {
  margin-top: 50px;
}
.m_b05 {
  margin-bottom: 5px;
}
.m_b10 {
  margin-bottom: 10px;
}
.m_b20 {
  margin-bottom: 20px;
}
.m_b30 {
  margin-bottom: 30px;
}
.m_b40 {
  margin-bottom: 40px;
}
.m_b50 {
  margin-bottom: 50px;
}
.p_none {
  padding: 0 !important;
}
.p_t10 {
  padding-top: 10px;
}
.p_t20 {
  padding-top: 20px;
}
.p_t30 {
  padding-top: 30px;
}
.p_t40 {
  padding-top: 40px;
}
.p_t50 {
  padding-top: 50px;
}
.p_b10 {
  padding-bottom: 10px;
}
.p_b20 {
  padding-bottom: 20px;
}
.p_b30 {
  padding-bottom: 30px;
}
.p_b40 {
  padding-bottom: 40px;
}
.p_b50 {
  padding-bottom: 50px;
}
.b_none {
  border: 0 !important;
}
.bg_none {
  background: none !important;
}
.t_left {
  text-align: left;
}
.t_right {
  text-align: right;
}
.t_center {
  text-align: center;
}
.v_top {
  vertical-align: top;
}
.v_mid {
  vertical-align: middle;
}
.normal {
  font-weight: 400;
}
.bold {
  font-weight: 700;
}
.extra {
  font-weight: 800;
}
.pointer {
  cursor: pointer;
}
.alpha {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.fs_def > * {
  font-size: 16px;
  vertical-align: top;
}
.scale0 {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}
